{% extends 'main/base.html' %}

{% block title %}
Cтраница про нас
{% endblock %}

{% block content %}
     <h1>О компании:</h1>
     <p>В современном мире наблюдается значительное сокращение времени, затрачиваемого среднестатистическим человеком на живое общение, что пагубно сказывается на нем, как на существе социальном. Самым эффективным способом решения данной проблемы, как показывает практика, являются домашние животные. Они дают человеку объект для взаимодействия и способ борьбы с одиночеством, однако питомцы также являются и источником новых проблем. Домашнее животное требует тщательного ухода, что иногда может оказаться непростой задачей, на решение которой и направленно данное исследование, целью которого является создание сайта-каталога с наиболее полной информацией об уходе за животными, что значительно облегчит жизнь владельцев питомцев и позволит доказать эффективность использования сайтов-каталогов для решения данной проблемы.</p>
<table bgcolor="#FF00FF" border="1" align="center" width="90%" cellspacing="2" cellpadding="2">
      <tbody><tr>
        <th>Как следствие ставятся следующие задачи:</th>
      </tr>
      <tr>
                   <th>1</th>
        <th>Собрать информацию обо всех способах и средствах ухода за животными</th>
        <th></th>
      </tr>
      <tr>
                   <th>2</th>
        <th>Структурировать собранные данные и преобразовать в удобный для программирования вид</th>
      </tr>
      <tr>
                   <th>3</th>
        <th>Разработать сайт-каталог, предоставляющий пользователю способ изучить данную информацию </th>
      </tr>
    </tbody></table>
 <h1>О создателях:</h1>
<table bgcolor="#FF00FF" border="1" align="center" width="90%" cellspacing="2" cellpadding="2">
    <tbody>
<th>Как следствие ставятся следующие задачи:</th>
      </tr>
      <tr>

        <th>Лысенко Егор Дмитриевич</th>
        <th>Телефон: 89279083745</th><th>Потча: legor9302@gmail.com</th>
      </tr>
      <tr>

         <th>Дроздова Мария</th>
        <th>Телефон: 89379968575</th>
          <th>Почта: m4rozdova@GMAIL.COM</th>
      </tr>
      <tr>

         <th>Анурова Юлия</th>
        <th>Телефон: </th>
          <th>Потча: </th>
      </tr>
        </tbody></table>
{% endblock %}