{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
     <h1>Товары в наличии:</h1>
     {% if tasks %}
         {% for el in tasks %}
              <div class="alert alert-warning mt-2">
                  <h3>{{ el.title }}</h3>
                  <p>{{ el.task}}</p>
              </div>
         {% endfor %}
     {% else %}
<p>У нас нет товаров на данный момент</p>

{% endif %}

 <p>Так же всегда присутствуют: </p>
<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Британский кот</strong>
          <p class="mb-auto">Британская порода кошек – идеальный выбор для трудоголиков. Кошки сдержанны в проявлении чувств, но и не имеют ничего против активных игр.</p>
          <a href="http://127.0.0.1:8000/cat_page" class="stretched-link">Продолжение</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <p><img src="https://house-animals.ru/sites/default/files/media/user-1/british-cat-256.jpg"></p>

        </div>
      </div>
    </div>

<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Сибирский хаски</strong>
          <p class="mb-auto">Сибирский хаски – одна из древнейших пород собак, на протяжении многих веков верой и правдой служащая человеку.</p>
          <a href="http://127.0.0.1:8000/dog_page" class="stretched-link">Продолжение</a>
                    </div>
        <div class="col-auto d-none d-lg-block">
          <p><img src="https://32.img.avito.st/image/1/1.1WePtraBeY75E4uIqemLW3MVfYgtE3mISnZ9iPkTi4g5EXWKORd5yg.0H5v-fS9gAUtaAJgXvZM29hSyVOdGEBhPGJlW3EgRLU"></p>
        </div>
      </div>
    </div>

{% endblock %}